@charset "UTF-8";

header{
    background-color: #ffcccc;
    width: 1000px;
    padding: 10px 0;
}

body{
    margin: 0;
    padding: 0;
}

#main{
    background-color: #ccffcc;
    width: 700px;
    box-sizing: border-box;
}

#menu{
    background-color: #ccccff;
    width: 300px;
    box-sizing: border-box;
}

footer{
    background-color: #ffccff;
    width: 1000px;
    padding: 5px 0;
}

#wrapper {
    display: flex;
    width: 1000px;
}